/*
 *  Document   : themes.css
 *  Author     : pixelcave
 *  Description: The themes stylesheet of the template. The classes can be used to
 *  alter the color, the background color or the border color of an element individually
 *
 */

/*
=================================================================
#f39c12 - THEME DEFAULT
=================================================================
*/

.themed-color-default {
    color: #f39c12 !important;
}

.themed-background-default {
    background-color: #f39c12 !important;
}

.themed-border-default {
    border-color: #f39c12 !important;
}

/*
=================================================================
#4da2db -THEME RIVER
=================================================================
*/

.themed-color-river {
    color: #4da2db !important;
}

.themed-background-river {
    background-color: #4da2db !important;
}

.themed-border-river {
    border-color: #4da2db !important;
}

/*
=================================================================
#b96ad9, #9b59b6 -THEME AMETHYST
=================================================================
*/

.themed-color-amethyst {
    color: #b96ad9 !important;
}

.themed-background-amethyst {
    background-color: #9b59b6 !important;
}

.themed-border-amethyst {
    border-color: #9b59b6 !important;
}

/*
=================================================================
#e74c3c -THEME DRAGON
=================================================================
*/

.themed-color-dragon {
    color: #e74c3c !important;
}

.themed-background-dragon {
    background-color: #e74c3c !important;
}

.themed-border-dragon {
    border-color: #e74c3c !important;
}

/*
=================================================================
#34c26f, #39d179 -THEME EMERALD
=================================================================
*/

.themed-color-emerald {
    color: #34c26f !important;
}

.themed-background-emerald {
    background-color: #39d179 !important;
}

.themed-border-emerald {
    border-color: #39d179 !important;
}

/*
=================================================================
#93c22f, #a6db34 -THEME GRASS
=================================================================
*/

.themed-color-grass {
    color: #93c22f !important;
}

.themed-background-grass {
    background-color: #a6db34 !important;
}

.themed-border-grass {
    border-color: #a6db34 !important;
}